@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.textField {
  position: relative;
}

.input {
  outline: none;
  width: 100%;
  background: $pureWhite;
  border: 1px solid $secondaryColor;
  border-radius: 1.5rem;
  height: 4rem;
  padding: 0 1.5rem;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: $primaryColor;

  &.error {
    border: 1px solid $dangerColor;
  }

  &:focus {
    box-shadow: 0px 0px 10px rgba(108, 109, 138, 0.25);
  }

  &::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.errorMessage {
  text-align: right;
  color: $dangerColor;
  margin: 5px 5px 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.errorIcon {
  position: absolute;
  top: 3rem;
  right: 1rem;
}

.textField .label {
  font-size: 1.4rem;
  color: $primaryColor;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.7rem;
}
