@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.button {
  position: relative;
  height: 3.7rem;
  background: $purple;
  border-radius: 15px;
  @include flex();
  padding: 2rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1px 10px rgba(109, 113, 249, 0.5);
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  -webkit-tap-highlight-color: transparent;

  .text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    color: $pureWhite;
  }
}

@media (hover: hover) {
  .button:hover {
    box-shadow: 5px 5px 15px rgba(109, 113, 249, 0.5);
  }
}

.button:active {
  box-shadow: 1px 1px 10px rgba(109, 113, 249, 0.5);
}
