@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.loginForm {
  text-align: center;
  width: 540px;
  @include paper(20px);
}

.title {
  color: $primaryColor;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 19px;
}

.subtitle {
  margin-bottom: 31px;
  font-size: 20px;
  color: #6c6d8a;
  font-weight: 400;
}
